{% extends 'main/layout.html' %}

{% block title %}Магазин{% endblock %}

{% block content %}
<div class="search">
    <form class="search search-item" action="{% url 'search' %}" method="get">
        <div class="form-outline" data-mdb-input-init>
            <input type="search" type="text" id="form1" class="form-control"  name="q" placeholder="Поиск по магазину"/>
          </div>
        <button id="search-button" type="button" class="btn btn-dark">
            <i class="fas fa-search">Найти</i>
          </button>
    </form> 
</div>   
    <div class="main">
        <h1>Магазин</h1>
        <h3>Одежда только для тебя</h3>
        <div class="shop-navigate">
            <a href="{% url 'shop' %}"><button class="btn btn-dark"><h4>Новинки</h4></button></a>
            <a href="{% url 'caps' %}"><button class="btn btn-dark"><h4>Головные уборы</h4></button></a>
            <a href="{% url 'shirts' %}"><button class="btn btn-dark"><h4>Рубашки</h4></button></a>
        </div>
        <div class="details-product">
            <img class="details-product details-product-img" src="{{ media_url }}{{ details_product.image }}" alt="details_product_img">
            <h4 class="details-product details-product-child">{{ details_product.description }}</h4>
            <h1 class="details-product details-product-child">{{ details_product.name }}</h1>
        <h1 class="price">{{ details_product.price }}<button>BUY</button></h1>
    </div>
    
    
{% endblock %}